.App {
  color: #fff;
  background-color: rgb(26, 26, 49);
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  position: relative;
}

.dashboard {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  width: 660px;
}

.card-container {
  border: 0;
  border-radius: 10px;
  height: min-content;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.card-container > img {
  position: absolute;
  right: 7.5%;
  top: -3.5%;
  width: 25%;
  z-index: 0;
}

.card {
  background-color: hsl(235, 46%, 20%);
  border: 0;
  border-radius: 10px;
  bottom: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: 25px;
  padding: 20px;
  position: relative;
  transition: all 0.35s;
  z-index: 1;
}

.card:hover {
  background-color: hsl(236, 32%, 33%);
}

.card .activity-name {
  font-size: 14px;
}

.card .current-duration {
  padding: 10px 0 5px;
  font-size: 30px;
  font-weight: 300;
}

.card .timeframe {
  color: hsl(236, 100%, 87%);
  font-size: 10px;
}


.card-container .ellipsis {
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 24%; /* wrong */
  width: 10%;
  transition: filter 0.5s;
}

.card-container .ellipsis:hover {
  color: #fff;
  filter: brightness(200%);
}

.duration-container {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 40%;
}

.profile-container {
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  box-sizing: border-box;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-card {
  border-radius: 10px;
  background-color: hsl(235, 46%, 20%);
  width: 200px;
}

.user-card ul li {
  color: hsl(235, 45%, 61%);
  list-style: none;
  margin: 5px 0;
}

.user-card ul {
  padding: 0 20px;
}

.user-card ul li button {
  background-color: inherit;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 10px;
  padding: 0;
  margin: 0;
  transition: color 0.35s;
}

.user-card ul li button:hover {
  color: #fff;
}

.profile-container .report {
  color: hsl(236, 100%, 87%);
  font-size: 10px;
  margin-top: 20px;
}

.profile-container .report-container {
  display: flex;
  flex-direction: column;
}

.profile-container .user-name {
  font-weight: 300;
  font-size: 20px;
  width: min-content;
}

@media only screen and (max-width: 420px) {
  .App{
    height: auto;
  }

  .dashboard{
    flex-direction: column;
    margin: auto;
    padding: 60px 0;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    row-gap: 30px;
  }

  .card-list{
    flex-direction: column;
    width: auto;
  }

  .user-card ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .report-container{
    flex-direction: column;
  }

  .profile-container .user-name {
    font-size: 12px;
    width: auto;
  }
  
  .duration-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-container, .user-card {
    width: 250px;
  }

  .card-container .timeframe {
    transform: translateY(50%);
  }
}